{$SITE_ADDRESS:http://localhost} {
  encode zstd gzip
  header /admin* X-Robots-Tag "noindex, nofollow, noarchive"

  handle /api/* {
    reverse_proxy backend:3000
  }

  handle {
    reverse_proxy frontend:80
  }
}
